<p>Data from the City of New York on <a href="https://catalog.data.gov/dataset/motor-vehicle-collisions-crashes">data.gov</a></p>
<p>Built with <a href="https://expressjs.com/">Express</a> and <a href="https://ejs.co/">EJS</a> in <a href="https://nodejs.org/en">NodeJS</a>.</p>
<p>Maps rendered using <a href="https://leafletjs.com/">LeafletJS</a> and <a href="http://leaflet.github.io/Leaflet.markercluster/">Leaflet.markercluster</a>.</p>