<style>
    nav {
        background: mediumpurple;
        border-radius: 1em;
        text-align: center;
        margin: 2em;
    }

    nav a {
        text-decoration: none;
        color: white;
        font-family: "Ubuntu", sans-serif;
        font-size: 2em;
        display: inline-block;
        margin: 1.5em;
    }

    body {
        background: black;
        color: white;
        font-family: "Ubuntu", sans-serif;
    }
</style>
<nav>
<a href="/map">map</a> <a href="/recent">recent</a> <a href="/submit">submit</a><br><br>
</nav>